---
import Nav from "../components/navbar/Nav"
import SEO from "../components/SEO.astro"
import Socials from "../components/socials/Socials.astro"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="dns-prefetch" href="https://cdn.sanity.io" />
    <link rel="dns-prefetch" href="https://open.spotifycdn.com" />
    <link rel="dns-prefetch" href="https://nastysnacks.com" />
    <link rel="preconnect" href="https;//nastysnacks.com" />
    <link
      rel="dns-prefetch"
      href="https://google.com"
      <link
      rel="preconnect"
      href="https://cdn.sanity.io"
    />
    <title>{title}</title>
  </head>
  <header class="fixed top-0 z-40 w-[100vw]">
    <Nav client:idle />
  </header>
  <body class="relative">
    <slot />
  </body>
  <footer class="bg-neutral-900 pt-12 pb-4 text-center">
    <Socials />
    <p class="pb-4 pt-6 text-sm">
      <em
        >Made with <a
          href="https://astro.build"
          target="_blank"
          rel="noopener noreferrer"
          ><span class="text-gradient">{Astro.generator}</span> 🚀</a
        >
      </em>
    </p>
  </footer>

  <style is:global>
    @import "../styles/globals.css";
  </style>
</html>
