---
import Nav from "../components/navbar/Nav"
import GoogleAnalytics from "../components/GoogleAnalytics.astro"
import StructuredData from "../components/StructuredData.astro"
import SEO from "../components/SEO.astro"
import Footer from "../components/layout/Footer.astro"
import { ClientRouter } from "astro:transitions"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <SEO />
    <ClientRouter />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="dns-prefetch" href="https://cdn.sanity.io" />
    <link rel="dns-prefetch" href="https://open.spotifycdn.com" />
    <link rel="dns-prefetch" href="https://nastysnacks.com" />
    <link rel="preconnect" href="https;//nastysnacks.com" />
    <link rel="dns-prefetch" href="https://google.com" />
    <link rel="preconnect" href="https://cdn.sanity.io" />
    <title>{title}</title>
    <StructuredData />
  </head>
  <GoogleAnalytics />
  <header class="fixed top-0 z-40 w-screen">
    <Nav client:idle />
  </header>
  <body class="relative">
    <slot />
    <Footer />
  </body>

  <style is:global>
    @import "../styles/globals.css";
  </style>
</html>
