---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Page Not Found'>
  <main>
    <h1 class='p-12 text-xl'>Sorry, that page doesn't exist!</h1>
    <a href='/' class='text-transparent bg-gradient-to-br from-pink-700 to-purple-700 bg-clip-text'>Go Home</a>
  </main>
</Layout>
