---
import BandCard from "../components/meet-the-band/BandCard.astro";
import Layout from "../layouts/Layout.astro";
import type { BandMember } from "../types";
import { rosterSort } from "../utils/helpers";
import { sanityAPI } from "../utils/sanity";

const result = await sanityAPI("bandMembers");
const bandMembers = result.result.sort(rosterSort) as BandMember[];
---

<Layout title="Nasty Snacks | Band">
  <main>
    <h1 class="page-header-main">Meet the Band</h1>
    <section class="band-section">
      {
        bandMembers.map((member, idx) => {
          return <BandCard member={member} side={idx % 2 === 0 ? 'left' : 'right'} />;
        })
      }
    </section>
  </main>
</Layout>
<script>
  function fadeInCards() {
    const cards = document.querySelectorAll(".card");
    if (!cards || cards.length === 0) return;

    const options = {
      threshold: 0.10,
      rootMargin: "-150px",
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        // console.log(entry.target);
        if (entry.isIntersecting) {
          if (entry.target.classList.contains('left')) {
            entry.target.classList.add("opacity-100");
            entry.target.classList.remove("-translate-x-28");
          } else {
            entry.target.classList.add("opacity-100");
            entry.target.classList.remove("translate-x-28");
          }
        }
      });
    }, options);

    cards.forEach((card) => {
      observer.observe(card);
    });
  }

  fadeInCards();
</script>
