---
import { ContactForm } from "../components/contact-form/ContactForm";
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === 'POST') {
  return Astro.redirect('/success')
}
---
<Layout title="Nasty Snacks | Contact">
  <main class='text-start'>
    <ContactForm client:load />
  </main>
</Layout>
