---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Nasty Snacks | Success'>
  <div class='text-center'>
    <h1 class='p-12 text-xl'>Thanks for reaching out!</h1>
    <a href='/' class='text-transparent bg-gradient-to-br from-pink-700 to-purple-700 bg-clip-text'>Back Home</a>
  </div>
</Layout>
