---
import { RandomSnacksVid } from "../components/RandomSnacksVid";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Media">
  <div>
    <RandomSnacksVid client:load />
  </div>
</Layout>
