@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth tracking-widest
    /* scroll-behavior: smooth; */;
  }

  body {
    @apply bg-neutral-900 text-neutral-100;
    @apply scroll-smooth;
  }
}

@layer components {
  input {
    @apply p-1 text-neutral-900;
  }

  textarea {
    @apply p-1 text-neutral-900;
  }

  label {
    @apply text-sm text-start;
  }

  .page-header-main {
    @apply text-3xl tracking-widest text-center pt-16;
  }

  .text-gradient {
    @apply text-transparent bg-gradient-to-r from-purple-700 to-pink-700 bg-clip-text;
  }

  .hover-grow {
    @apply transition duration-150 ease-in-out;
  }

  .top-nav-bg {
    width: 100vw;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('inverted_snacks.jpg');
  }

  .bg-image {
    background-image: url('images/inverted_snacks.jpg');
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
  }
}
