---
import type { Album } from "../types"
import { sanityAPI } from "../utils/sanity"
import SpotifyPreview from "./spotify-preview/SpotifyPreview.astro"
const result = await sanityAPI("albums")
const albums = result.result as Album[]
---

<div class="flex flex-col justify-center gap-4 md:flex-row">
  {
    albums.map((album) => {
      return <SpotifyPreview album={album}  />
    })
  }
</div>
<script>
  const watchMusic = () => {
    const music = document.getElementById("music")
    if (!music) return
    const options = {
      rootMargin: "-50px",
    }
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && window.scrollY !== 0) {
          entry.target.classList.add("opacity-100")
          observer.disconnect()
        }
      })
    }, options)
    observer.observe(music)
  }
  watchMusic()
  document.addEventListener("astro:page-load", watchMusic)
</script>
