---
import type { Album } from "../types";
import { generateSpotifyEmbed } from "../utils/helpers";
import { sanityImageUrl } from "../utils/sanity";

interface Props {
  album: Album;
}

const { album } = Astro.props;
const embedUrl = generateSpotifyEmbed(album.spotifyLink);
const builder = sanityImageUrl(album.cover);
---

<div class="flex lg:flex-row flex-col items-center justify-center gap-8" id={album.title}>
  <a
    href="https://open.spotify.com/album/7mLF0VbXdSgJalOclhMAJa?si=jf53fU3zRrSCJAKj0TC-tA"
    target="_blank"
  >
    <img
      src={builder.auto('format').url()}
      width="450px"
      height="450px"
      alt="Smoke Signals EP Cover"
    />
  </a>

  <iframe
    src={embedUrl}
    title={`${album.title} Spotify Preview`}
    class="lg:h-[380px] lg:max-w-[50vw]"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  ></iframe>
</div>
