---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Contact">
  <form
    action="/contact"
    method="POST"
    name="contact"
    id="contact"
    class="flex flex-col gap-2 flex-grow flex-wrap p-4 items-center md:w-[50vw] w-full mx-auto child:w-full"
  >
    <div class="flex w-full gap-2 child:flex-grow">
      <div class="child:w-full">
        <label for="firstName"><em>First Name</em></label>
        <input id="firstName" required />
      </div>
      <div class="child:w-full">
        <label for="lastName"><em>Last Name</em></label>
        <input id="lastName" required />
      </div>
    </div>

    <label for="email"><em>Email Address</em></label>
    <input id="email" type="email" required />

    <label for="subject"><em>Subject</em></label>
    <input id="subject" required />

    <label for="message"><em>Message</em></label>
    <textarea id="message" required></textarea>

    <button
      class="p-2 rounded-lg bg-gradient-to-br to-purple-700 from-pink-700 mt-2 -mb-6"
      type="submit"
      id="submitContactForm">Submit</button
    >
  </form>
</Layout>
<script>
  function animateSubmitButton(submitButton: HTMLElement | null) {
    if (!submitButton) {
      return null;
    }
    submitButton.addEventListener("click", () => {
      return console.log(`Click!`);
    });
    submitButton.addEventListener("mousedown", function () {
      return submitButton.classList.add("scale-95");
    });
    submitButton.addEventListener("mouseup", function () {
      return submitButton.classList.remove("scale-95");
    });
  }
  const submitButton = document.getElementById("submitContactForm");
  animateSubmitButton(submitButton);
</script>
