---
import { ContactForm } from "../components/contact-form/ContactForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Contact">
  <form
    netlify
    netlify-honeypot
    action="/contact"
    method="POST"
    name="contact"
    id="contact"
    class="hidden"
  >
    <input type="hidden" name="form-name" value="contact" />
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input
          name="bot-field"
          value="contact"
        />
      </label>
    </p>

        <label for="firstName"><em>First Name*</em></label>
        <input id="firstName" required />
        <label for="lastName"><em>Last Name</em></label>
        <input id="lastName" />

    <label for="email"><em>Email Address*</em></label>
    <input id="email" type="email" required />

    <label for="subject"><em>Subject*</em></label>
    <input id="subject" required />

    <label for="message"><em>Message*</em></label>
    <textarea id="message" rows="4" class="text-neutral-900" required
    ></textarea>
  </form>
  <ContactForm client:load />
</Layout>
<!-- <script> -->
<!--   function animateSubmitButton(submitButton: HTMLElement | null) { -->
<!--     if (!submitButton) { -->
<!--       return null; -->
<!--     } -->
<!--     submitButton.addEventListener("click", () => { -->
<!--       return console.log(`Click!`); -->
<!--     }); -->
<!--     submitButton.addEventListener("mousedown", function () { -->
<!--       return submitButton.classList.add("scale-95"); -->
<!--     }); -->
<!--     submitButton.addEventListener("mouseup", function () { -->
<!--       return submitButton.classList.remove("scale-95"); -->
<!--     }); -->
<!--   } -->
<!--   const submitButton = document.getElementById("submitContactForm"); -->
<!--   animateSubmitButton(submitButton); -->
<!-- </script> -->
