---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Contact">
  <main class="text-center">
    <form
      data-netlify="true"
      name="contactUs"
      action="/success"
      method="post"
      class="flex flex-col gap-2 items-start w-fit md:w-[50vw] mx-auto"
    >
      <input class="hidden" name="form-name" value="contactUs" />

      <div class='flex gap-2 w-full'>
        <label class='w-full'>
          <p class='text-start'>
            <em>First Name*</em>
          </p>
          <input name="firstName" class='w-full' required />
        </label>
        <label class='w-full'>
          <p class='text-start w-full'>
            <em>Last Name</em>
          </p>
          <input name="lastName" class='w-full' />
        </label>
      </div>

      <label class=' w-full'>
        <em>Email Address*</em>
        <input name="email" type="email" class='w-full' required />
      </label>

      <label class=' w-full'>
        <p>
          <em>Subject*</em>
        </p>
        <input name="email" class='w-full' required />
      </label>

      <label class='w-full '>
        <p>
          <em>Message*</em>
        </p>
        <textarea name="message" class="text-neutral-900 w-full" rows={4} required
        ></textarea>
      </label>
      <button
        disabled
        class="p-2 rounded-lg bg-gradient-to-br to-purple-700 from-pink-700 mt-2 -mb-6 tracking-widest opacity-50 w-full"
        type="submit"
        id="submitContactForm"
      >
        Submit
      </button>
    </form>
  </main>
</Layout>
<script>
  const button = document.getElementById("submitContactForm");
  const form = document.querySelector("form");

  function animateButton(button: HTMLElement | null) {
    if (!button) return;

    button.addEventListener("mousedown", () => {
      return button.classList.add("scale-95");
    });

    button.addEventListener("mouseup", () => {
      return button.classList.remove("scale-95");
    });
  }

  function disableButton(button: HTMLElement | null, form: HTMLElement | null) {
    if (!button || !form) return;

    const fields = form.querySelectorAll("[required]") as NodeListOf<
      HTMLInputElement | HTMLTextAreaElement
    >;

    form.addEventListener("change", () => {
      // If any field value is empty, just return
      for (let i = 0; i < fields.length; i += 1) {
        const field = fields[i];
        if (field.value === "") {
          return;
        }
      }

      // They filled out the whole form!
      button.removeAttribute("disabled");
      button.classList.remove("opacity-50");
      animateButton(button);
    });
  }

  disableButton(button, form);
</script>
