---
import { ContactForm } from "../components/contact-form/ContactForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Contact">
  <main class='text-start'>
    <ContactForm client:load />
  </main>
</Layout>
<!-- <script> -->
<!--   const button = document.getElementById("submitContactForm"); -->
<!--   const form = document.querySelector("form"); -->
<!---->
<!--   function animateButton(button: HTMLElement | null) { -->
<!--     if (!button) return; -->
<!---->
<!--     button.addEventListener("mousedown", () => { -->
<!--       return button.classList.add("scale-95"); -->
<!--     }); -->
<!---->
<!--     button.addEventListener("mouseup", () => { -->
<!--       return button.classList.remove("scale-95"); -->
<!--     }); -->
<!--   } -->
<!---->
<!--   function disableButton(button: HTMLElement | null, form: HTMLElement | null) { -->
<!--     if (!button || !form) return; -->
<!---->
<!--     const fields = form.querySelectorAll("[required]") as NodeListOf< -->
<!--       HTMLInputElement | HTMLTextAreaElement -->
<!--     >; -->
<!---->
<!--     form.addEventListener("change", () => { -->
<!--       // If any field value is empty, just return -->
<!--       for (let i = 0; i < fields.length; i += 1) { -->
<!--         const field = fields[i]; -->
<!--         if (field.value === "") { -->
<!--           return; -->
<!--         } -->
<!--       } -->
<!---->
<!--       // They filled out the whole form! -->
<!--       button.removeAttribute("disabled"); -->
<!--       button.classList.remove("opacity-50"); -->
<!--       animateButton(button); -->
<!--     }); -->
<!--   } -->
<!---->
<!--   disableButton(button, form); -->
<!-- </script> -->
