---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Contact">
  <form data-netlify="true" name="contactUs" action="/success" method="post">
    <input class="hidden" name="form-name" value="contactUs" />

    <div class="flex w-full gap-2 child:flex-grow">
      <label class="w-full">
        <p>
          <em>First Name*</em>
        </p>
        <input name="firstName" class="w-full p-1" required />
      </label>

      <label class="w-full">
        <p>
          <em>Last Name</em>
        </p>
        <input name="lastName" class="w-full p-1" required />
      </label>
    </div>

    <p>
      <label>
        <p>
          <em class="text-sm">Email Address*</em>
        </p>
        <input type="email" name="email" class="p-1" required />
      </label>
    </p>

    <p>
      <label>
        <p>
          <em class="text-sm">Subject*</em>
        </p>
        <input name="subject" required />
      </label>
    </p>

    <p>
      <label>
        <p>
          <em class="text-sm">Message*</em>
        </p>
        <textarea name="message" rows={4} class="text-neutral-900 p-1"
        ></textarea>
      </label>
    </p>

    <button
      disabled
      class="p-2 rounded-lg bg-gradient-to-br to-purple-700 from-pink-700 mt-2 -mb-6 tracking-widest opacity-50"
      type="submit"
      id="submitContactForm"
    >
      Submit
    </button>
  </form>
</Layout>
<script>
  const button = document.getElementById("submitContactForm");
  const form = document.querySelector("form");

  function animateButton(button: HTMLElement | null) {
    if (!button) return;

    button.addEventListener("mousedown", () => {
      return button.classList.add("scale-95");
    });

    button.addEventListener("mouseup", () => {
      return button.classList.remove("scale-95");
    });
  }

  function disableButton(button: HTMLElement | null, form: HTMLElement | null) {
    if (!button || !form) return;

    const fields = form.querySelectorAll("[required]") as NodeListOf<
      HTMLInputElement | HTMLTextAreaElement
    >;

    form.addEventListener("change", () => {
      // If any field value is empty, just return
      for (let i = 0; i < fields.length; i += 1) {
        const field = fields[i];
        if (field.value === "") {
          return;
        }
      }

      // They filled out the whole form!
      button.removeAttribute("disabled");
      button.classList.remove("opacity-50");
      animateButton(button);
    });
  }

  disableButton(button, form);
</script>
