---
import Layout from "../layouts/Layout.astro";
import SpotifyPreview from "../components/SpotifyPreview.astro";
import UpcomingShows from "../components/UpcomingShows.astro";
import BandInfo from "../components/BandInfo.astro";
---

<Layout title="Nasty Snacks">

  <main>
    <!-- Band info -->
    <section class="mx-auto text-center pb-24" id="band">
      <BandInfo />
    </section>

    <!-- Music -->
    <section id="music" class="text-center pb-24">
      <SpotifyPreview />
    </section>

    <!-- Upcoming Shows -->
    <section id="tour" class="text-center">
      <UpcomingShows />
    </section>
  </main>

</Layout>
