---
import Socials from "../components/Socials.astro";
import TopNav from "../components/TopNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks">
  <header>
    <TopNav />
  </header>
  <main>
    <!-- Band info -->
    <section class="mx-auto text-center pt-24" id="band">
      <h2 class="text-3xl p-6 tracking-widest">WE ARE NASTY SNACKS</h2>
      <div
        class="flex lg:flex-row flex-col max-w[850px] text-center lg:justify-center px-4"
      >
        <img src="group_photo.jpg" alt="Group Photo" width="500px" />
        <ul class="text-left px-4 child:py-2 child:text-sm">
          <li><em>Drums / Don Allen Jr.</em></li>
          <li><em>Keys / Keith Brooks II</em></li>
          <li><em>Guitar / Colin Fahey</em></li>
          <li><em>Bass / Martin Farrelly</em></li>
          <li><em>Tenor Sax / Alex Francois</em></li>
          <li><em>Guitar / Ryan Gac</em></li>
          <li><em>Trumpet / Scott Hoecker</em></li>
          <li><em>Trombone / Matt Jarosch</em></li>
          <li><em>Trumpet / Caleb Mitchell</em></li>
          <li><em>Vocals / Stefanie Mitchell</em></li>
        </ul>
      </div>
    </section>

    <!-- Music -->
    <section id="music" class="text-center pt-24">
      <h3 class="tracking-wider text-3xl pb-6">MUSIC</h3>
      <div id="player" class="flex lg:flex-row flex-col justify-center gap-8">
        <a
          href="https://open.spotify.com/album/7mLF0VbXdSgJalOclhMAJa?si=jf53fU3zRrSCJAKj0TC-tA"
          target="_blank"
          ><img
            src="smoke_signals.jpg"
            width="450px"
            alt="Smoke Signals EP Cover"
          />
        </a>
        <div
          id="player-placeholder"
          class="h-96 w-96 border-neutral-100 border-2 rounded-lg"
        >
          Spotify Player
        </div>
      </div>
    </section>

    <!-- Upcoming Shows -->
    <section
      id="upcoming-shows"
      class="text-center pt-24"
    >
      <h3 class="tracking-wider text-3xl pb-6">Upcoming Shows</h3>
      <img
        class=""
        src="snacks_chop_shop.jpg"
        alt="Nasty Snacks at Chop Chop in Chicago"
      />
    </section>
  </main>
  <footer class="text-center pt-12 pb-4">
    <Socials />
    <p class="text-sm pb-4 pt-6">
      <em
        >Made with <a href="https://astro.build"
          ><span class="text-gradient">Astro</span> 🚀</a
        >
      </em>
    </p>
  </footer>
</Layout>
