---
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
import SpotifyPreview from "../components/SpotifyPreview.astro";
import UpcomingShows from "../components/UpcomingShows.astro";
import BandInfo from "../components/BandInfo.astro";
---

<Layout title="Nasty Snacks">

  <main>
    <!-- Band info -->
    <section class="mx-auto text-center pt-24" id="band">
      <h2 class="tracking-widest text-3xl pb-6">WE ARE NASTY SNACKS</h2>
      <BandInfo />
    </section>

    <!-- Music -->
    <section id="music" class="text-center pt-24">
      <h3 class="tracking-wider text-3xl pb-6">MUSIC</h3>
      <SpotifyPreview />
    </section>

    <!-- Upcoming Shows -->
    <section id="tour" class="text-center pt-24">
      <h3 class="tracking-wider text-3xl pb-6">Upcoming Shows</h3>
      <UpcomingShows />
    </section>
  </main>

  <footer class="text-center pt-12 pb-4">
    <Socials />
    <p class="text-sm pb-4 pt-6 text-transparent hover:text-neutral-100 transition duration-300 ease-in-out">
      <em
        >Made with <a href="https://astro.build" target="_blank"
          ><span class="hover:text-gradient">Astro</span> 🚀</a
        >
      </em>
    </p>
  </footer>

</Layout>
