---
import RandomSnacksVid from "../components/RandomSnacksVid.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Nacks | Media">
  <div class='text-center w-[100vw]'>
    <RandomSnacksVid />
  </div>
</Layout>
