---
import {RandomSnacksVid} from "../components/RandomSnacksVid";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Nacks | Media">
  <div class='w-[100vw]'>
    <RandomSnacksVid client:load />
  </div>
</Layout>
