---
import SpotifyPreview from "../components/SpotifyPreview.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nasty Snacks | Music">
  <main class='text-center p-8'>
    <SpotifyPreview />
  </main>
</Layout>
