<div id='socials' class='flex gap-2 justify-center'>
  <a class='hover-grow' href='https://open.spotify.com/artist/7tIYEywXhVp5F2QjrxSLgw'><img src='icons/spotify.svg' alt='spotify' class='h-8 w-8' /></a>
  <a href='https://www.instagram.com/NastySnacks/'><img src='icons/instagram.svg' alt='instagram' class='h-8 w-8' /></a>
  <a href='https://www.facebook.com/NastySnacks'><img src='icons/facebook.svg' alt='facebook' class='h-8 w-8' /></a>
  <a href='https://twitter.com/NastySnacks'><img src='icons/twitter.svg' alt='twitter' class='h-8 w-8' /></a>
</div>
