<section class="p-6" id="smokeSigs">
  <h3 class="tracking-wider text-3xl pb-8">MUSIC</h3>
  <div
    id="player"
    class="flex lg:flex-row flex-col items-center justify-center gap-8"
  >
    <a
      href="https://open.spotify.com/album/7mLF0VbXdSgJalOclhMAJa?si=jf53fU3zRrSCJAKj0TC-tA"
      target="_blank"
    >
      <img
        src="images/smoke_signals.webp"
        width="450px"
        height="450px"
        alt="Smoke Signals EP Cover"
      />
    </a>

    <iframe
      src="https://open.spotify.com/embed/album/7mLF0VbXdSgJalOclhMAJa?utm_source=generator"
      title="Smoke Signals Spotify Preview"
      class="lg:h-[380px] lg:max-w-[50vw]"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    ></iframe>
  </div>
</section>
<section id="snacksAlbum">
  <div
    id="player"
    class="flex lg:flex-row flex-col items-center justify-center gap-8"
  >
    <a
      href="https://open.spotify.com/album/652bnBzr6Of6KaTIu934Gd?si=thWgYETsR6-0i50fkqK0tg"
      target="_blank"
    >
      <img
        src="images/album_cover.jpg"
        width="450px"
        height="450px"
        alt="Smoke Signals EP Cover"
      />
    </a>
    <iframe
      title="Nasty Snacks Debut Album Spotify Preview"
      src="https://open.spotify.com/embed/album/652bnBzr6Of6KaTIu934Gd?utm_source=generator"
      class="lg:h-[380px] lg:max-w-[50vw]"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    ></iframe>
  </div>
</section>
