<nav class="text-center">
  <h1 class="p-2">
    <a href="#">
      <span class="text-gradient text-5xl font-extrabold tracking-widest"
        >NASTY SNACKS</span
      >
    </a>
  </h1>
  <ul
    class="text-gradient text-center font-extrabold lg:flex gap-12 flex-row hidden lg:visible items-center justify-center p-6 child-hover:scale-105 child:hover-grow max-w-[100vw]"
  >
    <li><a href="/#band">BAND</a></li>
    <li><a href="/#music">MUSIC</a></li>
    <li><a href="/#tour">TOUR</a></li>
    <li><a href="/media">MEDIA</a></li>
    <li><a href="/merch">MERCH</a></li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>
</nav>
