<ul class="mx-auto tracking-wider w-fit flex flex-col gap-2 text-left">
  <li>
    <em>
      <strong>FITZGERALDS SIDEBAR, BERWYN, IL</strong> NASTY SNACKS PRESENTS: MIDNIGHT
      SNACKS // EVERY 1st THURSDAY
    </em>
  </li>
  <li>
    <em>
      <strong>MARTYRS, CHICAGO, IL</strong> FRIDAY DECEMBER 09 w/ VICTOR TORRES BAND
      &gt;&gt;
      <a href="http://martyrslive.com/calendar" target="_blank"
        ><strong>TICKETS</strong>
      </a>
    </em>
  </li>
  <li>
    <em>
      <strong>DORIAN’S THROUGH THE RECORD SHOP, CHICAGO, IL</strong> THURSDAY DECEMBER
      29
    </em>
  </li>
</ul>
