@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply /* scroll-behavior: smooth; */ h-fit overflow-x-hidden
    scroll-smooth tracking-widest selection:bg-pink-700 selection:text-neutral-900;
  }

  body {
    @apply overflow-x-hidden scroll-smooth bg-neutral-900 pt-14 text-center text-neutral-100;
  }
}

@layer components {
  input {
    @apply p-1 text-neutral-900 focus:outline-none focus:outline-pink-600;
  }

  textarea {
    @apply p-1 text-neutral-900 focus:outline-none focus:outline-pink-600;
  }

  label {
    @apply text-start text-sm;
  }

  section {
    @apply scroll-m-24 p-4 text-center;
  }

  .page-header-main {
    @apply pt-8 text-center text-3xl tracking-widest;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-purple-700 to-pink-700 bg-clip-text text-transparent;
  }

  .reverse-text-gradient {
    @apply bg-gradient-to-r from-pink-700 to-purple-700 bg-clip-text text-transparent;
  }

  .hover-grow {
    @apply transition duration-150 ease-in-out;
  }

  .top-nav-bg {
    width: 100vw;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("inverted_snacks.jpg");
  }

  .bg-image {
    background-image: url("images/inverted_snacks.jpg");
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
  }
}
